<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu </title>
    <link rel="stylesheet" href="menu.css">
</head>
<body> 
  <nav>
    <div class="logo">Momento's Coffe shop ☕️</div>
      <ul>
        <li>
          <a class="nav-link active" aria-current="page" href="home.html">Home</a>
        </li>
        <li>
          <a class="nav-link" href="aboutPage.html">About Page</a>
        </li>
        <li>
          <a class="nav-link" href="menu.ejs">Menu</a>
        </li>
      </ul>
  </nav>

  <h1 class="menu-title">Menu</h1>
  <br>
  <div class="accordion">
    <% for (let i = 0; i < Foods.length; i++) { %>
      <div class="accordion-item">
      <div class="accordion-header">Sandwiches</div>
      <div class="accordion-content">
       <div class="card-container">
            <div class="card">
              <img src="<%= Foods[i].image %>" alt="<%= Foods[i].foodName %>" />
              <div class="card-name"><%= Foods[i].foodName %></div>
              <div class="card-ingredients"><%= Foods[i].ingredients %></div>
              <div class="card-hot"><%= Foods[i].hot %></div>
              <div class="card-calories"><%= Foods[i].calories %></div>
              <div class="card-price"><%= Foods[i].price %></div>
          </div>
            <div class="card">
              <img src="<%= Foods[i].image %>" alt="<%= Foods[i].foodName %>" />
              <div class="card-name"><%= Foods[i].foodName %></div>
              <div class="card-ingredients"><%= Foods[i].ingredients %></div>
              <div class="card-hot"><%= Foods[i].hot %></div>
              <div class="card-calories"><%= Foods[i].calories %></div>
              <div class="card-price"><%= Foods[i].price %></div>
            </div>
         </div>
        </div>
      </div>
    <% } %>

    <div class="accordion-item">
     <div class="accordion-header">Pastries</div>
     <div class="accordion-content">
       <div class="card-container">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1505253210343-c595f96b5a31?auto=format&fit=crop&w=400&q=80" alt="Croissant" />
            <div class="card-name">Croissant</div>
            <div class="card-ingredients">bread</div>
            <div class="card-hot">Yes</div>
            <div class="card-calories">375</div>
            <div class="card-price">$3.00</div>
          </div>
          <div class="card">
            <img src="https://images.unsplash.com/photo-1528825871115-3581a5387919?auto=format&fit=crop&w=400&q=80" alt="Muffin" />
            <div class="card-name">Blueberry Muffin</div>
            <div class="card-ingredients">bread</div>
            <div class="card-hot">Yes</div>
            <div class="card-calories">375</div>
            <div class="card-price">$3.00</div>
          </div>
       </div>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">Drinks</div>
      <div class="accordion-content">
        <div class="card-container">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?auto=format&fit=crop&w=400&q=80" alt="Latte" />
            <div class="card-name">Coffee</div>
            <div class="card-ingredients">coffee beans, water</div>
            <div class="card-hot">Yes</div>
            <div class="card-calories">0</div>
           <div class="card-price">$1.50</div>
          </div>
          <div class="card">
            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?auto=format&fit=crop&w=400&q=80" alt="Espresso" />
            <div class="card-name">Ice Coffee</div>
            <div class="card-ingredients">coffee beans, water, ice </div>
            <div class="card-hot">No</div>
            <div class="card-calories">0</div>
            <div class="card-price">$3.50</div>
          </div>
        </div>
      </div>
    </div>

    </div>


<script src="menu.js"></script>
</body>
</html>